body {
  background-color: grey;
  color: white;
  margin: 0px;
  Font-Family: 'Rufina', Serif;
  Font-Size: 16px;
  text-align: center;
  overflow-x: none;
  width: auto;
}

/*header section of homepage*/

header {
  height: 40px;
  background: #7BDACA;
  text-align: center;
  Font-Family: 'Rufina', Serif;
  Font-Size: 20px;
  padding: 1px;
  width: 100%;
}

ul.nav {
  text-align: right;
  display: inline;
  text-transform: capitalize;
  size: 100%;
  margin: 5px;
  

  }

 .logo {
  font-size: 100%;
  margin-top: 5px;
  text-align: left;
 
}
 a {
       text-decoration: none;
       color: white;
    }
.navbar {
margin: 25px;
text-align: right;

}

#call {

background-repeat: no-repeat;
background-position: contain;
background-size: contain;
position: center;
font-size: 20px;
}

/* first section of home page*/

h1 {
  text-transform: capitalize;
  background-image: url("https://images.pexels.com/photos/681331/pexels-photo-681331.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  height: 250px;
  width: stretch;
  margin-top: auto;
  position: center;
  color: #FA6B32;
}

#heading {
  background-color: black;
  height: 50px;
  margin-top: -20px;
  font-size: 40px;
}

h2 {
   text-transform: capitalize;
     text-align: center;
}

/* secound section of homepage*/







.box-container {
display: inline;

}


.box {
  height: 300px;
  width: 300px;
  border: solid;
  border-color: #7BDACA;
  border-radius: 10% 10% 10% 10%;
  display: inline-flex;

  margin: 10px;
  background-color: black;
  

}




.image-container {
  
border-radius: 28px 28px 0 0;
  height: 150px;
  width: 300px;
  
}


#pic {
  background-image: url("https://images.pexels.com/photos/565324/pexels-photo-565324.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#pic2 {
  background-image: url("https://images.pexels.com/photos/205078/pexels-photo-205078.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#pic3 {
  background-image: url("https://images.pexels.com/photos/6215367/pexels-photo-6215367.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#pic4 {
  background-image: url("https://images.pexels.com/photos/757333/pexels-photo-757333.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#pic5 {
  background-image: url("https://images.pexels.com/photos/2156930/pexels-photo-2156930.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#pic6 {
  background-image: url("https://images.pexels.com/photos/2156923/pexels-photo-2156923.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#pic7 {
  background-image: url("https://images.pexels.com/photos/323775/pexels-photo-323775.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#pic8 {
  background-image: url("https://images.pexels.com/photos/157811/pexels-photo-157811.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#pic9 {
  background-image: url("https://images.pexels.com/photos/323780/pexels-photo-323780.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#pic10 {
  background-image: url("https://images.pexels.com/photos/144632/pexels-photo-144632.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.content {
  height: 100px;
  margin-top: 160px;
  font-size: 80%;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}



.info, .price  {
  color: white;
  margin-left: 10px;
  margin-right: 10px;
  width: auto;
  text-transform: capitalize;
  display: inline;
  text-align: center;
  margin-top: 15px;
}

.info {
  text-align: left;
  
}

.price {
  text-align: right;
  }

.details {
  margin-top: -20px;
}

h3, .details {
  display: inline;
  
  }

  .location, .details {
    margin-top: 15px;
  }

  .btn {
    text-decoration: none;
    color: #7BDACA;
  }
  .buttons {
    margin-top: 10px;
    text-decoration: none;
  }

    .footer {
    height: 50px;
    background-color: #7BDACA;
  }

/* content for the secound page*/

.head2 {
  margin-bottom: 20px;
}

.logo2 {
  font-size: 100%;
  margin-top: 5px;
  text-align: left;
 
}

.box-container2 {
display: inline-flex;


}

  .box2 {
 height: 450px;
  width: 600px;
  border: solid;
  border-color: #7BDACA;
  border-radius: 50px 50px 50px 50px;
  display: inline-flex;

  margin-top: 0px;
  background-color: black;
  
}
.content2 {
  height: 200px;
  width:300px;
  margin-top: 40px;
  font-size: 120%;
  text-align: center;
  

}



.image-container2 {
  
border-radius: 48px 0 0 0;
  height: 200px;
  width: 300px;
  
} 
 
.contactform {
 
  margin-top: 80px;
  }

input {
  border-radius: 10px;
  border-color: transparent transparent;
}


.app {
text-align: center;  
margin: 15px 15px 10px 20px;
display: inline;
position: center;
}




@media (min-width:320px) {
  

  .logo {
    font-size: 100%;
    margin-top: 5px;
    text-align: center;
     padding: 1px;
    
  }
  
  header {
    height: 40px;
    background: #7BDACA;
    text-align: center;
    Font-Family: 'Rufina', Serif;
    Font-Size: 20px;
   
    }

  #heading {
    background-color: black;
    height: 40px;
    margin-top: -20px;
    font-size: 30px;
   }

  h2 {
    text-transform: capitalize;
      text-align: center; 
     margin: 0px;
    }

 .box {
    margin: 10px 0px 10px 0px;
  }

.image-container {
  border-radius: 27px 27px 0 0;
  
    }

    /* secound page*/

    .logo2 {
      font-size: 100%;
      margin-top: 5px;
      text-align: center;
      
    }
    #call {
      font-size: small;
      text-align: center;
display: block;
    }

   

.box2 {
  height: 600px;
  width: 250px;
  border: solid;
  border-color: #7BDACA;
  border-radius: 50px 50px 50px 50px;
  display: inline;
  margin-top: 0px;
  background-color: black;
  
}

.image-container2 {
  width: auto;
  border-radius: 46px 46px 0 0;
  height: 150px;
 
}

.content2 {
  height: 200px;
 display: inline;
  
  font-size: 100%;
  text-align: center;
}

  }

  @media (hover: hover) {
    .box:hover {
      background: grey;

    }





  }

  